@*@model rough.Models.Bus
*@


<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-paginator.min.js"></script>






@model IEnumerable<rough.Models.Bus>   // ienumerable foreach loop

@{
    ViewData["Title"] = "Display";
}

<h2>Display All Buses</h2>
<div>
    <a asp-action="Employeeindex" class="btn btn-primary">Back to List</a>
</div>
@{
    var o = Model;
}
@*@foreach(var m in o)
{*@


<div class="container">

    <div class="table-responsive">
        <table class="table" id="tablepagination">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>BusNumber</th>
                    <th>BusName</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Date_Of_Transaction</th>
                    <th>Arrival</th>
                    <th>Departure</th>
                    <th>TypeOfBus</th>
                    <th>ModelNumber</th>
                    <th>NumberOfSeats </th>
                    <th>Fare</th>
                </tr>
            </thead>
            @foreach (var m in o)
            {
                <tbody>
                    <tr>
                        <td>@m.Id</td>
                        <td>@m.BusNumber</td>
                        <td>@m.BusName</td>
                        <td>@m.Source</td>
                        <td>@m.Destination</td>
                        <td>@m.Date</td>
                        <td>@m.Arrival</td>
                        <td>@m.Departure</td>
                        <td>@m.TypeOfBus</td>
                        <td>@m.ModelNumber</td>
                        <td>@m.NumberOfSeats</td>
                        <td>@m.Fare</td>
                    </tr>
                </tbody>
            }
        </table>


        <ul id="pagination-demo" class="pagination-sm">
        </ul>
    </div>
</div>

<div id="example"> </div>


<script type="text/javascript">
    var options = {
        currentPage: 3,
        totalPages: 10,
        useBootstrapTooltip: true,
        tooltipTitles: function (type, page, current) {
            switch (type) {
                case "first":
                    return "Go To First Page <i class='icon-fast-backward icon-white'></i>";
                case "prev":
                    return "Go To Previous Page <i class='icon-backward icon-white'></i>";
                case "next":
                    return "Go To Next Page <i class='icon-forward icon-white'></i>";
                case "last":
                    return "Go To Last Page <i class='icon-fast-forward icon-white'></i>";
                case "page":
                    return "Go to page " + page + " <i class='icon-file icon-white'></i>";
            }
        },
        bootstrapTooltipOptions: {
            html: true,
            placement: 'bottom'
        }
    }

    $('#example').bootstrapPaginator(options);
</script>
