@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"></script>
*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

@model IEnumerable<rough.Models.Bus>

@{
    ViewData["Title"] = "Index";
}

<style>
    .icon-city {
    font-size: 23px;
    padding-top: 4.3%;
    padding-right: 2.4%;
    padding-left: 2%;
    color: gray;
}
</style>


<h2>Search Bus</h2>
<style>
    form{
       padding-left: 2%;
       padding-right: 2%;
       border: thin;
       border-color: grey;
       border-style: double;
       border-radius: 7px;
    }
    /*.col-md-12{
        padding-top: 20%;
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 20%;
    }*/
   /* @@media (min-width: 768px){
.col-md-12 {
    padding-top: 2%;
    flex: 0 0 auto;
    width: 100%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    /* height: 30px; 
}
    }
*/

 /*   .block {
  position: relative;
  margin: 300px auto 0;
  width: 500px;
  height: 250px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}
*/






</style>


<form asp-action="fromto" method="get" class="block">
   
    <p>
        <div class="col-md-12">
            <div class="row" >
        <div class=" col-md-3">
      <label for="SearchString">Source</label>
        <input  type="search" class="form-control" placeholder="Enter Source" value="@ViewData["key"]" name="SearchString" required/>        
        </div>
        <br />
        <div class="col-md-3">
        <label for="SearchString1">Destination</label>
        <input type="search" class="form-control" placeholder="Enter Destination" value="@ViewData["key1"]" name="SearchString1" required />
          
     
        </div>
        <div class="col-md-3">
        <label for="SearchString2">Date</label>
        <input type="search" class="form-control"  placeholder="Enter Date MM/DD/YYYY" value="@ViewData["key2"]" name="SearchString2" required />
        </div>
        <br />
        <div class=" col-md-3">
        <input id="btn" class="btn btn-outline-success" type="submit" value="search" style="margin-top:24px;"/>
        </div>
        </div>
        </div>
       
    </p>
</form> 
<div >
            <a id="btn1" class="btn btn-outline-danger" type="submit" asp-action="Canceltickets" value="Cancel Ticket" style="margin-top:24px;">Cancel Ticket</a>
</div>
<br />
<br />

<div class="container">
    <div class="table-responsive">
<table id="tbl" class="table table-hover table-bordered" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.BusNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.BusName)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.TypeOfBus)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Fare)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfBus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNumber)
            </td>
            <td>
                            @Html.DisplayFor(modelItem => item.NumberOfSeats)
                        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fare)
            </td>
                        <td><a asp-action="Seats" asp-route-Id="@item.Id">Book</a></td>
                        <td>
           @* <td>
                            <input class="btn btn-sm btn-success" asp-route-id="@item.Id" type="button" value="Book" onclick="location.href='@Url.Action("Seats", "Bus")'" />
            </td>*@
           
        </tr>
}
    </tbody>
</table>
</div>
</div>
